:root {
    /* Light Theme */
    --border-default-light: #D4D4D8;
    --bg-default-light: #FAFAFA;
    --bg-info-light: #E0F2FE;
    --bg-error-light: #FFE4E6;
    --bg-warning-light: #FEF9C3;
    --bg-succes-light: #DCFCE7;
    --fg-default-light: #09090B;
    --fg-info-light: #0EA5E9;
    --fg-error-light: #F43F5E;
    --fg-warning-light: #EAB308;
    --fg-succes-light: #22C55E;

    /* Dark Theme */
    --border-default-dark: #1F2937;
    --bg-default-dark: #09090B;
    --fg-default-dark: #E5E7EB;
    --fg-info-dark: #7DD3FC;
    --fg-error-dark: #FDA4AF;
    --fg-warning-dark: #FDE047;
    --fg-succes-dark: #86EFAC;

    /* Default Styles */
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}